<!DOCTYPE html>
<html> 
<xmlns:th="http://thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> 
	<title> FilmesApp</title>
</head>
<body> 
<h1>Cadastro de Filmes</h1>
<form method="post">
	Nome: 	<input type="text" value="" name="nome"/><br>
	Ano: 	<input type="text" value="" name="ano"/><br>
	Genero:	<input type="text" value="" name="genero"/><br>
	Titulo:	<input type="text" value="" name="titulo"/><br><br>
<button type="submit">Salvar </button>
<button type="reset">Limpar Campos</button>
</form>
</body>
</html>